<!DOCTYPE html>
<html>
<head>
    <style>
    	.container {
    		margin-top: 20px;
        }
            
        .row {
            margin-top: 20px;
        }
    	
    	.card-img-top {
    		width: 800;
    		height: 600;
    		height: 15vw;
    		object-fit: cover;
    	}
    		
    	/* show 4 items per row */ 
        .carousel-inner .active,
        .carousel-inner .active + .carousel-item,
        .carousel-inner .active + .carousel-item + .carousel-item,
        .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item,
        .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
            display: block;
        }
    	
    	.pagination {
            margin-top: 20px;
        }
    	
    	.bid_now_button
    	{
    		width: 100%; 
    		margin-top: 10px;
    	}
    	
    	.watch_button
    	{
    		width: 100%; 
    		margin-top: 5px;
    	}
    </style>
</head>
<body>
<div class="container-fluid">
    <div id="myCarousel" class="carousel slide" data-interval="false">
        <div class="carousel-inner row w-100 mx-auto">
            <div class="carousel-item col-md-3 active">
                <div class="card">
                    <img class="card-img-top img-fluid" src="/static/images/products/console-01.png" alt="Card image cap">
					<div class="card-body">
						
						<div id="item_name"><h4 class="card-title text-center">PS4 Pro 1TB</h4><hr></div>		<!-- ITEM NAME -->
						<div id="current_value" class="text-center"><h3>70.80 €</h3></div>						<!-- ITEM CURRENT VALUE -->
						<div id="current_bids_time">354 bids <small class="text-muted">|</small> <font color="red">45m 30s</font></div>	<!-- CURRENT BIDS AND TIME REMAINING -->
						<div>
							<!-- BID NOW BUTTON -->
							<button type="button" class="btn btn-primary bid_now_button">Bid Now</button>
						</div>
						<div>
							<!-- WATCH BUTTON -->
							<button type="button" class="btn btn-outline-primary watch_button">Watch</button>
						</div>
                     
					</div>
                </div>
            </div>
            <div class="carousel-item col-md-3">
                <div class="card">
                    <img class="card-img-top img-fluid" src="/static/images/products/game-01.png" alt="Card image cap">
                    <div class="card-body">
						<div id="item_name"><h4 class="card-title text-center">Bloodborne (PS4)</h4><hr></div>		<!-- ITEM NAME -->
						<div id="current_value" class="text-center"><h3>1.60 €</h3></div>						<!-- ITEM CURRENT VALUE -->
						<div id="current_bids_time">8 bids <small class="text-muted">|</small> <!-- <font color="red"> -->5h 6m 37s<!-- </font> --></div>	<!-- CURRENT BIDS AND TIME REMAINING -->
						<div>
							<!-- BID NOW BUTTON -->
							<button type="button" class="btn btn-primary bid_now_button">Bid Now</button>
						</div>
						<div>
							<!-- WATCH BUTTON -->
							<button type="button" class="btn btn-outline-primary watch_button">Watch</button>
						</div>
                    </div>
                </div>
            </div>
            <div class="carousel-item col-md-3">
                <div class="card">
                    <img class="card-img-top img-fluid" src="/static/images/products/game-02.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Uncharted 4 (PS4)</h4>
                        <!-- <p class="card-text">This is a longer card with supporting text below as a natural.</p> -->
                        <p class="card-text"><small class="text-muted">Auction starts in : 1h 45min 3sec</small></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item col-md-3">
                <div class="card">
                    <img class="card-img-top img-fluid" src="/static/images/products/gadget-01.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Xiaomi Smartwatch X45</h4>
                        <!-- <p class="card-text">This is a longer card with supporting text below as a natural.</p> -->
                        <p class="card-text"><small class="text-muted">Auction starts in : 10h 45min 10sec</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-inner row w-100 mx-auto">
            <div class="carousel-item col-md-3 active">
                <div class="card">
                    <img class="card-img-top img-fluid" src="/static/images/products/game-04.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Sea of Thieves (XBOX ONE)</h4>
                        <p class="card-text">This is a longer card with supporting text below as a natural.</p>
                        <p class="card-text"><small class="text-muted">Auction starts in : 1d 1h 45min 3sec</small></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item col-md-3">
                <div class="card">
                    <img class="card-img-top img-fluid" src="/static/images/products/laptop-01.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">HP Pavilion DV7</h4>
                        <!-- <p class="card-text">This is a longer card with supporting text below as a natural.</p> -->
                        <p class="card-text"><small class="text-muted">Auction starts in : 1d 10h 5min 1sec</small></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item col-md-3">
                <div class="card">
                    <img class="card-img-top img-fluid" src="/static/images/products/tv-01.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Samsung SmartTV L14W2</h4>
                        <!-- <p class="card-text">This is a longer card with supporting text below as a natural.</p> -->
                        <p class="card-text"><small class="text-muted">Auction starts in : 2d 11h 4min 3sec</small></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item col-md-3">
                <div class="card">
                    <img class="card-img-top img-fluid" src="/static/images/products/tv-02.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">LG Magnum 154</h4>
                        <p class="card-text">This is a longer card with supporting text below as a natural.</p>
                        <p class="card-text"><small class="text-muted">Auction starts in : 2d 1h 55min 31sec</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#!" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#!">1</a></li>
        <li class="page-item"><a class="page-link" href="#!">2</a></li>
        <li class="page-item"><a class="page-link" href="#!">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#!" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
</body>
</html>