<!DOCTYPE html>
<html>
<head>
    <title>Auctions Online - Registration Page</title>
    <style>
        #reg { margin-top : 20px; }
        #subbut {margin-top: 20px; margin-left: 152px;}
        .frm { margin-top: -15px; }
    </style>
</head>
<body>
    <div id="reg">
    <div>
        <h2>Register New User</h2>
        <hr>
    </div>
       
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group row">
                <label class="col-sm-8 col-form-label frm">Username</label>
                <div class="input-group col-sm-10">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                    <input type="text" class="form-control" id="username">
                </div>                
            </div>
            <div class="form-group row">
                <label class="col-sm-8 col-form-label frm" for="group1B">Email</label>
                <div class="input-group col-sm-10">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                    <input type="email" class="form-control" id="email">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-8 col-form-label frm" for="group1B">Password</label>
                <div class="input-group col-sm-10">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                    <input type="password" class="form-control" id="password">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-8 col-form-label frm" for="group1B">Confirm Password</label>
                <div class="input-group col-sm-10">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                    <input type="password" class="form-control" id="confpassword">
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group row">
                <label class="col-sm-8 col-form-label frm">First Name</label>
                <div class="input-group col-sm-10">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                    <input type="firstname" class="form-control" id="firstname">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-8 col-form-label frm">Last Name</label>
                <div class="input-group col-sm-10">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                    <input type="lastname" class="form-control" id="lastname">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-8 col-form-label frm">Cellphone</label>
                <div class="input-group col-sm-10">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-phone"></i></div>
                    <input type="text" class="form-control" id="cellphone">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-8 col-form-label frm">Address</label>
                <div class="input-group col-sm-10">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-map-marker"></i></div>
                    <input type="text" class="form-control" id="address">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-8 col-form-label frm">Town</label>
                <div class="input-group col-sm-10">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-location-arrow"></i></div>
                    <input type="text" class="form-control" id="town">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-8 col-form-label frm">Postal Code</label>
                <div class="input-group col-sm-10">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-map-marker"></i></div>
                    <input type="text" class="form-control" id="postcode">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-8 col-form-label frm">Country</label>
                <div class="input-group col-sm-10">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-globe"></i></div>
                    <input type="text" class="form-control" id="country">
                </div>
            </div>
            <div class="form-group row">                
                <button id="subbut" type="submit" class="btn btn-primary col-sm-5">Submit</button>
            </div>
        </div>
    </div>
    </div>
</body>
</html>